<header class="navbar navbar-fixed-top navbar-inverse">
       <div class="container">
      <%= link_to "sample app", '#', id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li>
          <% if current_page?(locale: :en) %>
            <%= content_tag :li do %>
              <%= link_to t('layouts.header.vietnamese'), locale: :vi %>
            <% end  %>
          <% else%>
            <%= content_tag :li do %>
              <%= link_to t('layouts.header.english'), locale: :en %>
            <% end  %>
          <% end  %>
          <li><%= link_to t('layouts.header.home'), root_path %></li>
          <li><%= link_to t('layouts.header.help'), help_path %></li>
          <li><%= link_to t('layouts.header.login'), signup_path %></li>        
        </ul>
      </nav>
    </div>
</header>